.text-container {
  margin: 0 24px;


  @include media(">=desktop") {
    margin: 0 100px;
  }
}

.address {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 34px;
}

.address__container p {
  margin-top: 0;
}
