@import "../../node_modules/include-media/dist/include-media";
@import "./shared/settings";
@import "./shared/base";
@import "./shared/shared"; 
@import "./shared/navbar";

// Black color for the NavBar
.nav-bar {
  .nav-bar__icon img {
    filter: invert(0%) sepia(100%) saturate(7429%) hue-rotate(235deg) brightness(83%) contrast(115%);
    width: 30px;
    height: 30px;
  }

  @include media(">=desktop") {
    .nav-bar__icon {
      color: black;
    }

    .nav-bar__icon.link-origin::before,
    .nav-bar__icon.link-shop::before {
      border-bottom: 1px solid black;
    }
  }
}

// Styling contact form
.contact-form {
  margin-bottom: 40px;

  h2 {
    margin-top: 78px;
  }

  form * {
    display: block;
    width: 100%;
  }

  .name-input,
  .email-input,
  .phone-input {
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid;
    padding: 12px 25px 10px 19px;
  }

  .name-label {
    margin-top: 34px;
  }

  .name-input {
    background-color: #E9E9E9;
  }

  .email-label {
    margin-top: 40px;
  }

  .phone-label {
    margin-top: 40px;
  }

  .subject-select {
    margin-top: 40px;
  }

  .message-label {
    margin-top: 195px;
  }

  .privacy-policy-input {
    display: inline;
    margin-top: 41px;
  }

  .privacy-policy-label {
    display: inline-block;
    margin-top: 41px;
  }

  .submit-button {
    margin-top: 41px;
  }
}
