@import "../../node_modules/include-media/dist/include-media";
@import "./shared/settings";
@import "./shared/base";
@import "./shared/shared";
@import "./shared/navbar";
@import "./shared/footer";

// Black color for the NavBar
.nav-bar {
  .nav-bar__icon img {
    filter: invert(0%) sepia(100%) saturate(7429%) hue-rotate(235deg) brightness(83%) contrast(115%);
    width: 30px;
    height: 30px;
  }

  @include media(">=desktop") {
    .nav-bar__icon {
      color: black;
    }

    .nav-bar__icon.link-origin::before,
    .nav-bar__icon.link-shop::before {
      border-bottom: 1px solid black;
    }
  }
}

// Styling contact form
.contact-form {
  margin-bottom: 40px;

  h2 {
    margin-top: 78px;
  }

  form * {
    display: block;
    width: 100%;
  }

  .name-input,
  .email-input,
  .phone-input {
    margin-top: 5px;
    border: none;
    border-bottom: 2px solid;
    padding: 12px 25px 10px 19px;
  }

  .name-label {
    margin-top: 34px;
  }

  .name-input {
    background-color: #e9e9e9;
  }

  .email-label {
    margin-top: 40px;
  }

  .phone-label {
    margin-top: 40px;
  }

  .select-wraper {
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 40px;

    .subject-select {
      padding: 15px 0px 14px 25px;
      width: 100%;
      background-color: transparent;
      color: #737373;

      &:hover {
        color: black;
      }

      &:focus {
        color: white;

        & option {
          color: black;
          margin-top: 30px;
        }
      }
    }

    .select-arrow {
      font-size: 32px;
      font-weight: 400;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: black;
      width: 50px;
      height: 100%;
      text-align: center;
      z-index: -1;

      span {
        transform: rotate(90deg) translateY(-3px);
      }
    }

    .select-content {
      position: absolute;
      left: 0;
      top: 0;
      width: calc(100% - 50px);
      height: 100%;
      background-color: white;
      z-index: -1;
    }

    .subject-select:focus {
      & + .select-content { // + (plus sign): selects an element immediately following another element
        background-color: black;
      }

      & ~ .select-arrow { // ~ (tilde): selects all elements that follow another element, regardless of their 
        span {
          transform: rotate(270deg) translateY(-3px);
        }
      }
    }
  }

  .message-label {
    margin-top: 40px;
  }

  .message-text {
    min-width: 100%;
    height: 170px;
    border: none;
    border-bottom: 2px solid;
    resize: none;
    margin-top: 10px;
    padding: 50px 20px;

    &:focus {
      padding-top: 20px;

      &::placeholder {
      color: transparent;
      }
    }
  }

  .privacy-policy {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .privacy-policy__input {
    width: 5%;
  }

  .submit-button {
    margin-top: 41px;
    margin-left: 50%;
    transform: translate(-50%);
    border: none;
    width: 171px;
    display: inline-block;
    color: white;
    font-weight: 400;
    padding: 20px 50px;
    background: $off-black;
    border-radius: 8px;
  }

  .submit-button:hover {
    background: lighten($color: $off-black, $amount: 10%);
  }

  .submit-button:active {
    background: lighten($color: $off-black, $amount: 20%);
  }

  .submit-button:focus {
    background: lighten($color: $off-black, $amount: 20%);
  }
}