@import "../../node_modules/include-media/dist/include-media";
@import "./shared/settings";
@import "./shared/base";
@import "./shared/shared"; 
@import "./shared/navbar";
@import "./shared/footer";

.hero {
  height: 50vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/FEND-Coffee-shop.webp) center/cover no-repeat, #453636;
}

.img-container1 {
  text-align: right;
  margin-top: 30px;

  @include media(">=desktop") {
    width: 60%;
  }
}

.img-container1 img {
  width: 80%;

  @include media(">=desktop") {
    width: 100%;
  }
}

@include media(">=desktop") {
  .media-flex-text-img {
    margin-top: 125px;
    display: flex;
    gap: 100px;
  }

  .media-flex-text-img__text {
    width: 50%;
  }
}

@include media(">=desktop") {
  .gebaeck-info {
    margin-top: 125px;

    .gebaeck-info__heading,
    .gebaeck-info__text {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.img-gallery {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 98%;
  gap: 8px;
  margin-top: 48px;

  .img-galery__item {
    width: 50%;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .img-crosisants {
    height: 17%;
    order: 1;
  }
  .img-coffee-sign {
    height: 32%;
    order: 4;
  }
  .img-latte-art-2 {
    height: 32%;
    order: 5;
  }
  .img-latte-art-3 {
    height: 17%;
    order: 8;
  }
  .img-coffee-machine {
    height: 15%;
    order: 2;
  }
  .img-latte-art-1 {
    height: 32%;
    order: 3;
  }
  .img-coffee-list {
    height: 32%;
    order: 7;
  }
  .img-coffee-breaktfast {
    height: 15%;
    order: 6;
  }

  @include media(">=desktop") {
    margin-top: 125px;
    height: 100vh;

    .img-galery__item {
      width: 25%;
    }

    .img-crosisants {
      height: 35%;
      order: 1;
    }
    .img-coffee-sign {
      height: 63%;
      order: 2;
    }
    .img-latte-art-2 {
      height: 63%;
      order: 3;
    }
    .img-latte-art-3 {
      height: 35%;
      order: 4;
    }
    .img-coffee-machine {
      height: 32%;
      order: 5;
    }
    .img-latte-art-1 {
      height: 66%;
      order: 6;
    }
    .img-coffee-list {
      height: 65%;
      order: 7;
    }
    .img-coffee-breaktfast {
      height: 33%;
      order: 8;
    }
  }
}

.img-gallery__column {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 8px;
  

  @include media(">=desktop") {
    width: 10%;
  }
}

.img-galery__item img {
  width: 100%;
}

.location__heading {
  margin-top: 72px;
}

.location__map {
  width: 100%;
  height: 50vh;
  border: none;
  margin-top: 35px;
}
