@import "../../node_modules/include-media/dist/include-media";
@import "./shared/settings";
@import "./shared/base";
@import "./shared/shared"; 
@import "./shared/navbar";
@import "./shared/footer";

// Black color for the NavBar
.nav-bar {
  .nav-bar__icon img {
    filter: invert(0%) sepia(100%) saturate(7429%) hue-rotate(235deg) brightness(83%) contrast(115%);
    width: 30px;
    height: 30px;
  }

  @include media(">=desktop") {
    .nav-bar__icon {
      color: black;
    }

    .nav-bar__icon.link-origin::before,
    .nav-bar__icon.link-shop::before {
      border-bottom: 1px solid black;
    }
  }
}

// Styling of content
.text-container {
  @include media(">=desktop") {
    margin: 0 310px;
  }
}

.imprint {
  h2 {
    margin-top: 120px;
  }

  .address-top {
    margin-top: 15px;
  }

  p {
    margin: 0;
  }

  @include media(">=desktop") {
    h2 {
      margin-top: 219px;
    }
  }
}

.privacy-policy {
  padding-bottom: 122px;
  
  h2 {
    margin-top: 30px;
  }

  h3 {
    margin-top: 30px;
  }
  
  h4 {
    font-size: 3.0rem;
    margin-top: 20px;
  }

  p {
    margin-top: 0;
  }

  ul {
    li {
      list-style: none;
      font-size: 1.4rem;
      margin: 16px 0 16px 10px;
      margin-left: 14px;
    }
    li:before {
      content: "-";
      position: absolute;
      margin-left: -10px;
    }
  }
}
