@import "../../node_modules/include-media/dist/include-media";
@import "./shared/settings";
@import "./shared/base";
@import "./shared/shared";

.hero {
  height: 75vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/FEND-Coffee-latte-art-3.webp) center/cover no-repeat, #453636;
  // background-image: url(../images/FEND-Coffee-latte-art-3.webp);
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.coffee-heading {
  font-weight: 900;
  font-size: 6.4rem;
  color: white;
  text-align: center;
}

.coffee-subheading {
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
  margin: 0;
  text-align: center;
}

.shop-button {
  text-align: center;
  position: absolute;
  bottom: 60px;
  margin-left: 50%;
  transform: translate(-50%);
}

.shop-button__link {
  display: inline-block;
  color: white;
  font-weight: 400;
  padding: 20px 50px;
  background: $off-black;
  border-radius: 8px;
}

.shop-button__link:hover {
  background: lighten($color: $off-black, $amount: 10%);
}

.shop-button__link:active {
  background: lighten($color: $off-black, $amount: 20%);
}

.shop-button__link:focus {
  background: lighten($color: $off-black, $amount: 20%);
}

.media-flex {
  display: block;
}

.img-container1 {
  text-align: right;
  margin-top: 30px;
}

.img-container1 img {
  width: 80%;
}

.img-container2 {
  text-align: left;
  margin-top: 30px;
}

.img-container2 img {
  width: 80%;
}

.product-container {
  background: $off-black;
  color: white;
  padding: 60px 0 150px 0;
  margin-top: 40px;
  position: relative;
}

.product-container__products {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-container__product {
  width: 47%;
}

.product-container__image {
  background: white;
  width: 100%;
  height: auto;
}

.product-container__image img {
  width: 100%;
}

.product-container__label {
  font-weight: 400;
  font-size: 1.8rem;
  margin-top: 11px;
}

.product-container__price {
  font-weight: 400;
  font-size: 1.4rem;
  color: #737373;
  margin-top: 0;
}

.product-container__icons img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  width: 18px;
  height: 18px;
}

.product-container__icons svg {
  margin-right: 4px;
}

.product-container__icons path {
  stroke: white;
}

.product-container__all-products-button {
  text-align: center;
  position: absolute;
  bottom: 60px;
  margin-left: 50%;
  transform: translate(-50%);
  color: white;
  font-weight: 400;
  border: white solid 3px;
  border-radius: 8px;
  background: $off-black;
  padding: 15px 40px;
}

.product-container__all-products-button a {
  color: white;
}

.product-container__all-products-button:hover {
  background: lighten($color: $off-black, $amount: 10%);
}

.product-container__all-products-button:active {
  background: lighten($color: $off-black, $amount: 20%);
}

.product-container__all-products-button:focus {
  background: lighten($color: $off-black, $amount: 20%);
}

.origin-info {
  background-image: url(../images/FEND-Coffee-bags.webp);
  background-size: cover;
  background-position: 0 20%;
  background-repeat: no-repeat;
  height: 50ch;
  min-height: 300px;
  padding-top: 84px;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  background-blend-mode: soft-light;
}

.origin-info__header {
  margin: 0;
  color: white;
  font-weight: 900;
  font-size: 3.2rem;
}

.origin-info__content {
  color: white;
  width: 60%;
  margin: 12px auto;
  font-weight: 400;
}

.origin-info__link {
  display: block;
  margin-top: 20px;
  color: white;
  font-weight: 400;
}

.ingredients {
  text-align: center;
}

.ingredients__header {
  margin-top: 60px;
}

.ingredients__img {
  width: 50%;
  margin: auto;
  margin-top: 35px;
}

.ingredients__img img {
  width: 100%;
}

.selling-points {
  margin-top: 44px;
  display: flex;
  justify-content: space-evenly;
}

.selling-points p {
  margin-top: 23px;
}

.shop-button--mod {
  margin-top: 44px;
  position: static;
}

.location__heading {
  margin-top: 72px;
}

.location__map {
  width: 100%;
  height: 50vh;
  border: none;
  margin-top: 35px;
}

@include media(">=desktop") {
  .text-container {
    margin: 0 100px;
  }

  .media-flex {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: nowrap;
  }

  .media-flex__text {
    width: 40%;
  }

  .img-container1 {
    width: 50%;
  }

  .img-container1 img {
    width: 100%;
  }

  .img-container2 {
    width: 50%;
    order: -1;
  }

  .img-container2 img {
    width: 100%;
  }

  .product-container {
    margin-top: 100px;
  }

  .product-container__products {
    flex-wrap: nowrap;
    gap: 15px;
  }

  .product-container {
    padding-bottom: 250px;
  }

  .product-container__product {
    width: 25%;
    margin-top: 80px;
  }

  .product-container__all-products-button {
    bottom: 130px;
  }

  .origin-info {
    background-position: 0 35%;
  }

  .origin-info__content {
    margin: 35px auto;
    width: 30%;
  }

  .ingredients__header {
    margin-top: 120px;
  }

  .ingredients__img {
    width: 50%;
    margin: 0;
    margin-top: 35px;
    transform: translate(-30%);
  }

  .media-flex-ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .selling-points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .media-flex-selling-points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }

  .shop-button--mod {
    margin: 0;
    transform: translate(0);
  }

  .location__heading {
    margin-top: 100px;
  }
}
