<div class="footer">
    <div class="text-container">
      <img src="../images/icons/Logo.svg" alt="">
      <div class="media-flex-footer">
        <div class="media-flex-footer__item">
          <h3 class="footer__cafe-name">Rustica</h3>
          <h4 class="footer__cafe-description">Café & Rösterei</h4>
        </div>
        <div class="address address--mod" media-flex-footer__item>
          <div class="address__container">
            <p>Komm uns besuchen!</p>
            <p>Fraunhoferstr. 13, Kiel</p>
          </div>
          <div class="address__container">
            <p>Mo – Fr 8–18 Uhr</p>
            <p>Sa 11–18 Uhr</p>
          </div>
        </div>
        <div class="footer__links media-flex-footer__item">
          <div class="footer_link-container legal-info">
            <a href="#">Impressum</a>
            <a href="#">Datenschutz</a>
          </div>
          <div class="footer_link-container cafe-info">
            <a href="#">Café</a>
            <a href="#">Shop</a>
            <a href="#">Herkunft</a>
          </div>
        </div>
      </div>
    </div>
  </div>