<div class="nav-bar media-flex-navbar">
  <a href="../" class="nav-bar__icon media-flex-navbar__item logo">
    <img src="/images/icons/Logo.svg" alt="">
  </a>
  <div class="media-flex-navbar__item menu">
    <div class="nav-links" id="nav-links">
        <div class="menu-item burger-menu-close burger-menu-action" id="burger-menu-close">
          <a><img src="/images/icons/burger-menu-close.svg" alt=""></a>
        </div>
        <div class="menu__item">
          <a href="../das-cafe/" class="nav-bar__icon link-cafe">
            Das Café
          </a>
        </div>
        <div class="menu__item">
          <a href="../herkunft/" class="nav-bar__icon link-origin">
            Herkunft
          </a>
        </div>
        <div class="menu__item">
          <a href="#" class="nav-bar__icon link-shop">
            Shop
            <img id="shopping-cart-icon" src="/images/icons/Vector 1.svg" alt="">
          </a>
        </div>
      </div>
    <div class="menu__item burger-menu" id="burger-menu">
      <a class="nav-bar__icon burger-menu-action" id="burger-menu">
        <img src="/images/icons/Burger Menu.svg" alt="">
      </a>
    </div>
  </div>
</div>